name: Lint and test

on:
  pull_request:
    branches:
      - master

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x]

    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: Install eslint
      run: npm i -g eslint
    - name: Lint and test
      run: |
        npm i
        npm run lint
        npm run test
      env:
        CI: true
